<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio1.css')}}">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <title>Juego</title>
</head>

<body>
    <!-- CABEZERA -->
    <header class="cabezera bg-warning">
        <div class="contenedor-logo">
            <a href="/"><img src="https://data.gameflare.com/games/8748/E3E92Zd2UwcFES-400-300.jpg" alt="SALTA" height="85px"></a>
            <div class="titulo">
                <h1 class="font-monospace">Block Jumper Gamer</h1>
            </div>
        </div>
    </header>





  
    <!-- Sección sobre nosotros-->
    <section class="vh-500" style="background-color: #eee;" id="blockquote">
        <div class="container py-5 h-500">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-8 col-xl-7">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                           

                            <figure class="text-center mb-0">
                                <blockquote class="blockquote">
                                    <!--Cuadro d einformacion del juego-->
                                    <p class="pb-3">
                                        <i class="fas fa-quote-left fa-xs text-primary"></i>
                                        <h2 id="sobrenosotros">Block Jumper Gamer</h2>
                                        <span class="lead font-italic">Block Jumper es un interesante  juego de salto. En este juego,
                                             debes ayudar a un bloque pequeño a saltar al cielo cada vez  que venga una barra. Recuerda 
                                            que se  cuenta las barras que lograste cruzar. Para saltar se lo hace con la  tecla de espacio ¡Buena suerte! </span>
                                        <i class="fas fa-quote-right fa-xs text-primary"></i>
                                    </p>
                                </blockquote>
                                
                            </figure>
                             <!-- Botón play y redirige a la siguiente página-->
       <center> <button class="btn" type="button"><a class="nav-link" href="/index"> <img src="https://th.bing.com/th/id/OIP.fflQkLnsnfZD92ZVN_YxwAHaHa?pid=ImgDet&rs=1"  height ="40" width="50" /> <br> JUEGA</a></button> </center>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="text-center text-lg-start bg-warning text-muted">

      
                 

                  

                   
                </div>
            </div>
        </section>
        <footer class="footer bg-warning">
            <div class="contenedor-footer ">
                <small>&copy; 2022 <b>Universidad de las Fuerzas Armadas ESPE</b><br>
                <small align="right">&copy; 2022 <b> Lucy Micaela Mosquera</b>
                   
            </div>
        </footer>
</body>

</html>